Repository tangcent/easy-yapi, pull requests merged in 2019-11, with the labels that each got.

#71 Merge easy api
  common-api/src/main/kotlin/com/itangcent/common/utils/KVUtils.kt
  common-api/src/main/kotlin/com/itangcent/common/utils/KitUtils.kt
  common-api/src/main/kotlin/com/itangcent/common/utils/StreamKit.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/icons/EasyIcons.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ComboClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/util/CollectionExtend.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/util/PsiHelper.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: enhancement

#73 release v1.2.1.183.0.4
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/build.gradle
  idea-plugin/libs/commons.jar
  idea-plugin/libs/guice-action.jar
  idea-plugin/libs/intellij-idea.jar
  idea-plugin/libs/intellij-jvm.jar
  idea-plugin/libs/intellij-kotlin-support.jar
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/kotlin/com/itangcent/idea/icons/EasyIcons.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/EasyApiConfigurable.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/SuvApiExportDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/extend/ReflectTools.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#77 support rule [param.ignore]
  README.md
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
Labels: bug

#79 some new rules
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExportRuleKeys.kt
Labels: enhancement

#80 new rule[doc.class]&[class.prefix.path]
  common-api/src/main/kotlin/com/itangcent/common/utils/KitUtils.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/psi/ResourceHelper.kt
Labels: enhancement

#81 添加自定义规则
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SpringRequestClassExporter.kt
Labels: enhancement

#82 support import spring properties by recommend
  common-api/src/main/kotlin/com/itangcent/common/utils/KitUtils.kt
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/EasyApiConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: enhancement

#83 merge from easy-api
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/FieldsToJsonAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/MethodReturnInfer.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/cache/CachedRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SimpleMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SimpleRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/SuvApiExportDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/script/GroovyActionExtLoader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/sqlite/SqliteDataResourceHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ModuleHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/util/LoggerKit.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: chore

#84 fix YapiDashboard
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/YapiDashBoardAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/cache/CachedRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/YapiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/psi/PsiResource.kt
Labels: bug, chore

#85 release v1.3.0.183.0.1
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/parts/pluginDescription.html
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#86 update doc of rules
  docs/cn/2. 支持的配置规则.md
Labels: doc

#88 update doc
  docs/cn/2. 支持的配置规则.md
  docs/cn/5. 支持本地groovy扩展.md
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiRequestKit.kt
Labels: doc

#90 Merge easy api
  build.gradle
  docs/en/1. Config.md
  docs/en/3. Support-local-groovy-extension.md
  gradle.properties
  idea-plugin/build.gradle
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/MethodReturnInfer.kt
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: chore

#91 release v1.3.0.183.0.5
  idea-plugin/parts/pluginDescription.html
Labels: release

#92 update README
  README.md
  README_cn.md
  README_en.md
Labels: chore, doc

#94 release v1.3.0.183.0.8
  build.gradle
  gradle.properties
  idea-plugin/build.gradle
  idea-plugin/parts/pluginChanges.html
  idea-plugin/parts/pluginDescription.html
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/BasicAnAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release
