Repository tangcent/easy-yapi, pull requests merged in 2021-01, with the labels that each got.

#302 opti: support org.springframework.lang.NonNull by recommend
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: enhancement

#303 opti: ignore org.springframework.validation.BindingResult by recommend
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: enhancement

#307 opti: support param.before&param.after for methodDoc
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: enhancement

#308 chore: reword to 'use json5'
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
Labels: chore

#309 opti: preview recommendConfig with separator line
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigLoader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
Labels: enhancement

#310 release v2.1.0
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#314 fix: always trim the name of folder
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/Folder.kt
Labels: bug

#317 chore: add logs
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/DefaultMethodInferHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiExporter.kt
Labels: chore

#318 opti: support `setter` for `toJson(5)`
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/FieldsToJsonAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/rule/ScriptRuleParser.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/group/JsonSetting.kt
Labels: enhancement

#320 opti: use raw as body and use unbox for query/form
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/CustomInfoImpl.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringRequestClassExporter.kt
  idea-plugin/src/main/resources/META-INF/services/com.itangcent.intellij.CustomInfo
Labels: enhancement

#321 release v2.1.1
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#325 opti: log for method infer
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/DefaultMethodInferHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/MethodInferHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
Labels: enhancement

#326 release v2.1.2
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#327 fix：make yapi params ordered
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiFormatter.kt
Labels: bug
