Repository tangcent/easy-yapi, pull requests merged in 2021-11, with the labels that each got.

#641 feat: support Condition
  common-api/src/main/kotlin/com/itangcent/utils/KClassKit.kt
  idea-plugin/src/main/kotlin/com/itangcent/cache/DefaultHttpContextCacheHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/AnnotatedCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/Condition.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/ConditionEvaluator.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/ConditionSupported.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/Conditional.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/DefaultConditionEvaluator.kt
  idea-plugin/src/main/kotlin/com/itangcent/condition/Exclusion.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/condition/OnClassCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/condition/OnMissingClassCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/condition/annotation/ConditionOnClass.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/condition/annotation/ConditionOnMissingClass.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/ApiCallAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/ApiDashBoardAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/MarkdownExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/SuvExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/YapiDashBoardAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/YapiExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ExportChannel.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ExportDoc.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/Orders.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/ConditionOnChannel.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/ConditionOnDoc.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/ConditionOnSimple.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/OnChannelCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/OnDocCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/condition/OnSimpleCondition.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/CompositeClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/RequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/GenericMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/GenericRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/SimpleGenericMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/SimpleGenericRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SimpleSpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/order/Order.kt
  idea-plugin/src/main/kotlin/com/itangcent/order/Ordered.kt
  idea-plugin/src/main/kotlin/com/itangcent/spi/SpiCompositeLoader.kt
  idea-plugin/src/main/resources/META-INF/services/com.itangcent.condition.Condition
  idea-plugin/src/main/resources/META-INF/services/com.itangcent.idea.plugin.api.export.core.ClassExporter
  idea-plugin/src/test/kotlin/com/itangcent/condition/DefaultConditionEvaluatorTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/condition/OnClassConditionTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/condition/OnMissingClassConditionTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/condition/OnChannelConditionTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/condition/OnDocConditionTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/condition/OnSimpleConditionTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownApiExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/intellij/extend/ActionContextKitTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/order/OrderedTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/spi/SpiCompositeLoaderTest.kt
  idea-plugin/src/test/resources/META-INF/services/com.itangcent.spi.MyService
Labels: type: new feature

#649 fix: read desc of class before compute by rule
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/DefaultFormatFolderHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/AbstractApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/psi/ResourceHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/psi/UltimateDocHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/psi/UltimateDocHelperTest.kt
Labels: type: bug

#652 feat: new rule `json.additional.field`
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AdditionalField.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/AdditionalParseHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/ClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/DefaultAdditionalParseHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiAdditionalParseHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ContextualPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiPsiClassHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/utils/ContextualPsiClassHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelperTest.kt
Labels: type: new feature

#653 chore: update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: type: chore

#654 fix: remove redundant table header in markdown
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownFormatter.kt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.DirectorySpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringUltimateMarkdownApiExporterTest.txt
Labels: type: bug

#658 feat: recommend config for `Jackson-JsonUnwrapped`
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/MethodFilter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/RequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/GenericMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/SimpleGenericMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ContextualPsiClassHelper.kt
  idea-plugin/src/main/resources/.recommend.easy.api.config
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/helper/RecommendConfigLoaderTest.kt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.curl.CurlFormatterTest.txt
Labels: type: new feature

#659 release v2.3.0
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#662 feat: convert [java.sql.Date]&[java.sql.Time] as java.lang.String
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: type: new feature

#663 feat: support custom annotation with Spring-RequestMapping
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/generic/GenericRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanRequestBuilderListener.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/quarkus/QuarkusCustomHttpMethodResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/CustomSpringRequestMappingResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/DefaultSpringRequestMappingResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SimpleSpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringClassName.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestMappingResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/spring/StarandSpringRequestMappingResolver.kt
  idea-plugin/src/main/resources/META-INF/services/com.itangcent.idea.plugin.api.export.spring.SpringRequestMappingResolver
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/generic/GenericMethodDocClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanSpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/CustomSpringRequestMappingResolverTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/DefaultSpringRequestMappingResolverTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/StandardSpringRequestMappingResolverTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringRequestClassExporterTest.kt
  idea-plugin/src/test/resources/api/BaseController.java
  idea-plugin/src/test/resources/api/DefaultCtrl.java
  idea-plugin/src/test/resources/api/InferDemoCtrl.java
  idea-plugin/src/test/resources/api/MyCtrl.java
  idea-plugin/src/test/resources/api/NameCtrl.java
  idea-plugin/src/test/resources/api/TestCtrl.java
  idea-plugin/src/test/resources/api/UserCtrl.java
  idea-plugin/src/test/resources/api/ValidationCtrl.java
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.curl.CurlExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.curl.CurlFormatterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.generic.GenericMethodDocClassExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.DirectorySpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringUltimateMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.postman.PostmanApiExporterTest.DirectorySpringPostmanApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.postman.PostmanApiExporterTest.ModeCopyPostmanApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.postman.PostmanApiExporterTest.ModeUpdatePostmanApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.postman.PostmanApiExporterTest.SpringPostmanApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.postman.PostmanSpringRequestClassExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.spring.SpringRequestClassExporterTest.testExportFromTestCtrlWithExpanded.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.spring.SpringRequestClassExporterTest.testExportFromTestCtrlWithOutExpanded.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.spring.SpringRequestClassExporterTest.testExportFromUserCtrl.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.yapi.YapiApiExporterTest.DirectorySpringYapiApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.yapi.YapiApiExporterTest.SpringYapiApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.yapi.YapiSpringRequestClassExporterTest.txt
  idea-plugin/src/test/resources/spring/FakeMapping.java
  idea-plugin/src/test/resources/spring/MyPostMapping.java
  idea-plugin/src/test/resources/spring/RequestMethod.java
Labels: type: new feature
