Repository tangcent/easy-yapi, pull requests merged in 2021-02, with the labels that each got.

#330 opti: support spring.ui by recommend
  idea-plugin/src/main/resources/.recommend.easy.api.config
Labels: enhancement

#333 opti: use `setPragma` instead of `setBusyTimeout`
  idea-plugin/src/main/kotlin/com/itangcent/idea/sqlite/SqliteDataResourceHelper.kt
Labels: enhancement

#334 chore: remove (bate) from action text or description
  idea-plugin/src/main/resources/META-INF/easy-yapi-java.xml
Labels: chore

#335 opti: refactor ApiDashboards
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/cache/CachedRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/ComboClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SimpleMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/SimpleRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiDashBoardExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/AbstractApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/YapiDashboardDialog.kt
Labels: enhancement

#336 release v2.1.3
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#340 opti: support login mode
  common-api/build.gradle
  common-api/src/main/kotlin/com/itangcent/http/ApacheHttpClient.kt
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/BasicAnAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/DefaultYapiApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/DefaultYapiApiInputHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiDashBoardExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiApiInputHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiClassExportRuleKeys.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/YapiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/SettingBinder.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/extend/BinderKit.kt
  idea-plugin/src/main/kotlin/com/itangcent/suv/http/ConfigurableHttpClientProvider.kt
Labels: enhancement

#341 opti: support built-in config
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigReader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
Labels: enhancement

#342 release v2.1.4
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#343 chore: fix changelog
  IDEA_CHANGELOG.md
  idea-plugin/parts/pluginChanges.html
Labels: chore

#345 opti: `properties.additional` support url
  common-api/build.gradle
  common-api/src/main/kotlin/com/itangcent/common/model/Request.kt
  common-api/src/main/kotlin/com/itangcent/common/utils/FileSizeUtils.kt
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/config/MyResourceResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/BasicAnAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/cache/DefaultFileApiCacheRepository.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/cache/FileApiCache.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigLoader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ScriptExecutorDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/sqlite/SqliteDataResourceHelper.kt
Labels: enhancement

#346 chore: use github actions
  .github/workflows/ci.yml
  README.md
Labels: chore

#347 opti: support `param.doc` for export methodDoc
  idea-plugin/src/main/kotlin/com/itangcent/idea/config/CachedResourceResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/BasicAnAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/ClassApiExporterHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/AbstractRequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/DefaultMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiMethodDocClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/sqlite/SqliteDataResourceHelper.kt
Labels: enhancement

#348 fix:change the action name from Debug to ScriptExecutor
  .gitignore
  idea-plugin/parts/pluginDescription.html
Labels: chore

#349 opti: support `url.cache.expire`
  idea-plugin/src/main/kotlin/com/itangcent/idea/config/CachedResourceResolver.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/SuvApiExportDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/json/Json5Formatter.kt
Labels: enhancement

#350 release v2.1.5-rc
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release

#351 opti: add recommend third config
  third/javax.validation.mock.config
  third/swagger.advanced.config
  third/swagger.config
Labels: enhancement

#353 opti: show default built-in config in setting
  common-api/src/main/kotlin/com/itangcent/common/kit/KVUtils.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/DefaultMethodInferHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/config/RecommendConfigLoader.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/sqlite/SqliteDataResourceHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/utils/ResourceUtils.kt
  idea-plugin/src/main/resources/.default.built.in.easy.api.config
  plugin-script/package_plugin.sh
Labels: enhancement

#354 fix: swagger.config
  third/swagger.config
Labels: enhancement

#355 opti: cache yapi info with loginmode
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/AbstractYapiApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiCachedApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/intellij/extend/AnyKit.kt
Labels: enhancement

#356 release v2.1.5
  IDEA_CHANGELOG.md
  build.gradle
  gradle.properties
  idea-plugin/parts/pluginChanges.html
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: release
