Repository tangcent/easy-yapi, pull requests merged in 2021-08, with the labels that each got.

#541 feat: read default value as param's value
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/core/RequestClassExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ContextualPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporterTest.kt
Labels: type: new feature

#532 fix: Ignore SSL certificate in ApacheHttpClient
  common-api/src/main/kotlin/com/itangcent/http/ApacheHttpClient.kt
  idea-plugin/src/main/kotlin/com/itangcent/suv/http/ConfigurableHttpClientProvider.kt
Labels: type: bug, wontfix

#547 fix: use "" instead of null in format request headers
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
Labels: type: bug

#548 feat: populate default value or demo as field value
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ContextualPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/GsonExUtils.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiPsiClassHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringClassExporterBaseTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelperBaseTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/utils/CustomizedPsiClassHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/utils/GsonExUtilsTest.kt
  idea-plugin/src/test/resources/api/DefaultCtrl.java
  idea-plugin/src/test/resources/model/Default.java
Labels: type: new feature

#550 chore: fix swagger.advanced.config
  third/swagger.advanced.config
Labels: type: chore

#551 feat: keep changes in ApiCallDialog
  common-api/build.gradle
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/JacksonUtils.kt
  idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: type: new feature

#552 feat: trust [localhost]&[127.0.0.1] by default
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
Labels: type: new feature

#553 feat: add default keyboard-shortcut of ApiCallAction
  idea-plugin/src/main/resources/META-INF/easy-yapi-java.xml
Labels: type: new feature

#524 feat: Support export to postman customize workspace
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/ApiDashBoardAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/PostmanExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/SuvExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanCachedApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanWorkspaceCheckerSupport.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/helper/PostmanSettingsHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/swing/DefaultMessagesHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/swing/MessagesHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/helper/PostmanSettingsHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/mock/EmptyMessagesHelper.kt
Labels: type: new feature

#554 fix: fix thread switching for loadPostmanWorkspace
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
Labels: type: bug

#557 feat: optimize loading of postman collections
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanCachedApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/AbstractApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
Labels: type: new feature

#558 fix: inject PostmanWorkspaceChecker in PostmanApiExporterAdapter
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
Labels: type: bug

#560 feat: disable [sync] for the node which is not loaded
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
Labels: type: new feature

#562 chore: add test case of PostmanApiHelper
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanCachedApiHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/test/HttpClientProviderMockBuilder.kt
Labels: type: test

#564 fix: fix NPE when no collections in the workspace
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
Labels: type: bug

#565 feat: support export requests as curl command
  idea-plugin/src/main/kotlin/com/itangcent/cache/DefaultHttpContextCacheHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/cache/HttpContextCacheHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/curl/CurlFormatter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiCallDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/helper/PostmanSettingsHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/swing/DefaultMessagesHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/swing/MessagesHelper.kt
  idea-plugin/src/test/kotlin/com/itangcent/cache/DefaultHttpContextCacheHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/cache/CachedRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/curl/CurlFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/markdown/MarkdownApiExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanSpringClassExporterBaseTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanSpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/SimpleSpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/spring/SpringRequestClassExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/yapi/YapiSpringClassExporterBaseTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/swing/DefaultMessagesHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/mock/EmptyMessagesHelper.kt
  idea-plugin/src/test/resources/api/UserCtrl.java
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.curl.CurlFormatterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.DirectorySpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/result/com.itangcent.idea.plugin.api.export.markdown.MarkdownApiExporterTest.SpringUltimateMarkdownApiExporterTest.txt
  idea-plugin/src/test/resources/spring/PutMapping.java
Labels: type: new feature

#566 feat: select workspace by comboBox
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/ApiDashBoardAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/BasicAnAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/EasyApiConfigurable.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/PostmanExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/actions/SuvExportAction.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanCachedApiHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanUrls.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanWorkspaceCheckerSupport.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/suv/SuvApiExporter.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/ApiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.form
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/EasyApiSettingGUI.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/dialog/YapiDashboardDialog.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/DefaultSettingBinder.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/SettingBinder.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/Settings.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/XmlSettingBinder.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/helper/DefaultPostmanSettingsHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/helper/MemoryPostmanSettingsHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/helper/PostmanSettingsHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/xml/ApplicationSettings.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/xml/ApplicationSettingsComponent.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/xml/ProjectSettings.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/xml/ProjectSettingsComponent.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/support/IdeaSupport.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/ProjectHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/utils/SwingUtils.kt
  idea-plugin/src/main/resources/META-INF/easy-yapi-java.xml
  idea-plugin/src/main/resources/META-INF/plugin.xml
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/DefaultPostmanApiHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanCachedApiHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/postman/PostmanFormatterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/DefaultSettingBinderTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/XmlSettingBinderTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/helper/DefaultPostmanSettingsHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/helper/MemoryPostmanSettingsHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/helper/PostmanSettingsHelperTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/test/ActionContextKit.kt
Labels: type: new feature

#567 feat: add host to history in exporting curl command
  idea-plugin/src/main/kotlin/com/itangcent/cache/DefaultHttpContextCacheHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/cache/HttpContextCacheHelper.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/api/export/curl/CurlFormatter.kt
  idea-plugin/src/test/kotlin/com/itangcent/cache/DefaultHttpContextCacheHelperTest.kt
Labels: type: new feature

#572 feat: save yapi tokens in project scope
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/XmlSettingBinder.kt
  idea-plugin/src/main/kotlin/com/itangcent/idea/plugin/settings/xml/ProjectSettings.kt
  idea-plugin/src/main/kotlin/com/itangcent/task/Task.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/api/export/curl/CurlExporterTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/idea/plugin/settings/DefaultSettingBinderTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/task/AsyncTaskTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/task/BaseTaskTest.kt
  idea-plugin/src/test/kotlin/com/itangcent/task/TaskTestKit.kt
  idea-plugin/src/test/kotlin/com/itangcent/utils/WaitHelper.kt
Labels: type: new feature
